<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is a Micropost blog application done as a project for web programming in MSRIT. <a href="http://railstutorial.org/">Rails Tutorial</a> was referred for building the application. My sincere thanks to Michael Hartl for providing an easy and engaging resource for learning Ruby on Rails.  
</p>